contexttimer
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
packaging
pandas
plotly
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
tqdm
transformers==4.33.2
wheel
tiktoken
jsonlines
